body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.item{
    background-color: aqua;
    color: black;
    padding: 50px 20px;
    text-align: center;
}